.body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 12rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid #2C2F36;
    @media (max-width: 960px) {
      margin-bottom: 0;
      padding: 2rem;
      padding-bottom: 8rem;
    }
}
.footer{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    position: relative;
    padding: 0 4rem 4rem 4rem;
    font-family: 'GT Haptik Regular';
    
    @media (max-width: 1155px) {
      display: block;
    }
  
    @media (max-width: 960px) {
      margin: 0;
      flex-direction: column;
      padding: 0;
      height: 0;
      display: NONE;
    }
}